body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; 
    color: #333; 
    text-align: center; 
}

h1 {
    font-size: 2.5em;
    color: #3C552D; 
    margin-top: 20px;
}

header {
    background-color: #3C552D; 
    color: white; 
    padding: 15px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333; 
}

nav a {
    color: white; 
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3C552D; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4A6B38;
}

#output {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #FFF9C4; 
    border: 1px solid #333; 
    border-radius: 5px;
    text-align: left;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

li {
    margin: 5px 0;
    font-size: 1em;
}

h2, h3 {
    color: #CA7373; 
    margin-top: 20px;
}